*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.main-container{
    word-wrap: break-word;
    width: 80%;
    /* border: 1px solid red; */
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(53, 52, 54);
    border-radius: 10px;
    color: aliceblue;

 
}

.main-heading{
    margin-bottom: 20px;
    font-size: 3rem;
}
.year{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
}

.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* border: 1px solid red; */
    padding: 20px;
    flex-wrap: wrap;
}
.countdown  .btn .text{
    font-size: 0.50rem; 
    letter-spacing: 1.30px;
    text-transform: uppercase;
    font-weight: 400;
}



.btn{
    /* background: #f2f2f2; */
    font-size: 2rem;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 5px rgba(185, 161, 161, 0.3);
    border-radius: 10px;
    padding:5px;
    width: 100px;
}